/*
 * Blue css.
 *
 * Author: Mr.Blue
 *
 * */

a:hover{
    text-decoration: none !important;
}

body {
    background-image: url('/image/ink.jpg');
    background-attachment: fixed;
    background-size: cover;
}
