<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	<head>
    {{ partial "head.html" . }}
    </head>
<body class="colorful">
    <div class="container">
        <div id="site-title" class="mt-4 row justify-content-center">
            <div class="col-12 col-lg-8">
                <h1 class="rounded-top my-0 py-5 font-weight-bold mdl-color--white text-center mdl-shadow--8dp">{{ .Site.Title }}</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-12 col-lg-8">
                {{ partial "nav" . }}
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                {{ block "main" . -}}{{- end }}
            </div>
        </div>
        <div class="row">
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
