{{ define "main" -}}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap justify-content-center">
            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" role="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="bd-title">{{ .Title }}</h1>
                            {{ partial "post-info" . }}
                            <div class="bd-content">
                                {{ .Content }}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{{- end}}
