{{ define "main" -}}
    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 px-0 mx-0">
                {{ if in .Site.Params.sidebar .Section }}
                    {{ partial "note-sidebar" . }}
                {{ end }}
            </div>

            <div class="d-none d-xl-block col-xl-2 bd-toc">
            </div>

            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" role="main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <h1 class="bd-title">{{ .Title }}</h1>
                            {{ partial "post-info" . }}
                            <div class="bd-content">
                                {{ .Content }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ if (or .Params.comment ( and (default true .Site.Params.comment) (default true .Params.comment) )) }}
                    {{ partial "disqus" . }}
                {{ end }}
            </main>
        </div>
    </div>
{{- end}}
