<div class="mb-5 bd-info">
    <div>
        <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
        <time class="font-weight-bold grey-text text-darken-3">{{ .Date.Format "Jan 2, 2006" }}</time>
        {{ if not (eq .Date .Lastmod) }}
            <i class="ml-2 fa fa-edit fa-fw" aria-hidden="true"></i>
            <time class="font-weight-bold grey-text text-darken-3">{{ .Lastmod.Format "Jan 2, 2006" }}</time>
        {{ end }}
    {{ if .Params.tags }}
        <i class="ml-2 fa fa-tags fa-fw" aria-hidden="true"></i>
        <ul class="nav d-inline">
            {{ range .Params.tags  }}
                <li class="nav-item d-inline">
                    <a class="grey-text text-darken-1 font-weight-bold text-capitalize" href='{{ "/tags/" | relLangURL  }}{{ . | urlize  }}'>{{ . }}</a>
                </li>
            {{ end }}
        </ul>
    {{ end }}
    </div>
</div>
